header {
  margin-bottom: 10px; }

ul li {
  font-size: 1.2rem;
  list-style: none; }
  ul li a {
    float: left;
    padding: 20px 25px;
    text-decoration: none;
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif; }

.logo {
  height: 70px;
  margin-top: 10px;
  float: left; }

* {
  margin: 0px;
  padding: 0px; }

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px; }

.carousel-inner {
  width: 100%;
  height: 100%; }

.contact__style {
  width: 100%;
  height: 80px;
  padding-bottom: 0px;
  background-color: #ddc458; }

.creativ__section {
  position: absolute;
  margin-left: 500px;
  margin-top: 50px;
  color: #233c5f; }

footer {
  width: 100%;
  height: 100px;
  align-content: center;
  background-color: #ddc458; }

.footer-inline {
  display: inline-block;
  padding: 80px; }

.footer-title {
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: center; }

.form__inline {
  height: 50px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #ececec;
  color: #0D1D33; }
  .form__inline .form__inline--button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #0D1D33; }

.h__divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid #ddc458; }

.h__thick {
  position: relative;
  display: block;
  margin: 80px auto;
  width: 6%;
  border-top: 3px solid #ddc458; }

.llave__imag {
  position: relative;
  margin: 80px 0px 80px 0px; }
  .llave__imag .llave__imag--small {
    float: left;
    position: relative;
    width: auto; }

li {
  font-size: 1.2rem;
  color: #233c5f;
  list-style: none; }
  li a:hover {
    color: #a40775;
    text-decoration: none; }

.link-social {
  font-size: 1.5rem;
  color: #233c5f;
  list-style: none;
  margin: 10px;
  display: inline-block;
  text-align: center;
  color: #0D1D33; }

.text__styles {
  text-align: center; }
  .text__styles p {
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.4rem;
    margin: 20px 200px 20px 200px;
    font-style: italic; }
  .text__styles h1 {
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.4rem;
    margin: 100px 100px; }
  .text__styles h2 {
    color: #0D1D33;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    margin: 10px 0px 20px 0px; }
  .text__styles h3 {
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.095rem;
    margin: 10px 10px; }
  .text__styles h4 {
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.095rem;
    margin-top: 50px;
    margin-bottom: 50px; }
  .text__styles.text__styles--title {
    background-color: #f3e7bd;
    color: #233c5f;
    padding-top: 1px; }
  .text__styles.text__styles--titlenon {
    color: #233c5f;
    padding-top: 5px; }

.registros-image {
  background-image: url("../imagenes/registros.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .registros-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.aqua-image {
  background-image: url("../imagenes/aqua.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .aqua-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.numerologia-image {
  background-image: url("../imagenes/numerologia.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .numerologia-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.tarot-image {
  background-image: url("../imagenes/tarot.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .tarot-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.limpiezaadn-image {
  background-image: url("../imagenes/limpiezaadn.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .limpiezaadn-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.pendulohebr-image {
  background-image: url("../imagenes/pendulohebr.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .pendulohebr-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.creativ__section {
  margin-top: 10px;
  color: #233c5f; }

.reverdec__imag {
  background-image: url("../imagenes/dan.jpg");
  height: 550px;
  margin: 30px 80px 30px 5px; }

.style__rever {
  color: #233c5f;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4rem;
  margin: 50px auto; }

.inicio__imag {
  background-image: url("../imagenes/ruedainicio.jpg");
  width: auto;
  height: 550px;
  margin: 30px 80px 30px 5px; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Open Sans Condensed", sans-serif; }

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

/* Style the submit button */
input[type=submit] {
  background-color: #ddc458;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; }

/* Style the container */
.container__form {
  border-radius: 5px;
  padding: 50px; }

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 8px; }

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 8px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

.contact__map {
  margin-top: 50px;
  margin-left: 60px; }
