header {
  margin-bottom: 10px; }

ul li {
  font-size: 1.2rem;
  list-style: none; }
  ul li a {
    float: left;
    padding: 20px 25px;
    text-decoration: none;
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif; }

.logo {
  height: 70px;
  margin-top: 10px;
  float: left; }

* {
  margin: 0px;
  padding: 0px; }

a:hover {
  color: #a40775;
  text-decoration: none; }

#back-to-top {
  position: fixed;
  background: #233c5f;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  border-radius: 50%;
  right: 15px;
  bottom: 10px;
  z-index: 11;
  display: inline; }

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px; }

.carousel-inner {
  width: 100%;
  height: 100%; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.contact__style {
  width: 100%;
  height: 80px;
  padding-bottom: 0px;
  background-color: #ddc458; }

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: "576px"; }

.copyright {
  text-align: center;
  padding-top: 30px; }

.creativ__section {
  position: absolute;
  margin-left: 500px;
  margin-top: 50px;
  color: #233c5f; }

.encuentros-smaller {
  width: 100%;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 8px; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

#font-extra {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: white; }

#font-encuentros {
  font-size: 3rem;
  font-family: "Lobster Two", cursive;
  color: white; }

#footer {
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 0px 0 30px 0;
  color: #233c5f;
  background-color: #ddc458; }

.footer-top {
  background: #ddc458;
  padding: 60px 0 30px 0; }

.form__inline {
  height: 50px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #ececec;
  color: #0D1D33; }
  .form__inline .form__inline--button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #0D1D33; }

#header {
  height: 90px;
  padding: 2px 0;
  max-width: "991px";
  background: #fff;
  transition: all 0.5s; }

.h__divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid #ddc458; }

.h__thick {
  position: relative;
  display: block;
  margin: 80px auto;
  width: 6%;
  border-top: 3px solid #ddc458; }

.img-responsive {
  width: 100%;
  height: auto; }

.llave__imag {
  position: relative;
  margin: 80px 0px 80px 0px;
  height: 80px;
  transition: 2s ease-in-out; }
  .llave__imag .llave__imag--small {
    float: left;
    position: relative;
    width: auto; }

li {
  font-size: 1.2rem;
  color: #233c5f;
  list-style: none;
  padding-right: 5px; }
  li:hover {
    color: #a40775; }

.li-nav {
  padding-top: 8px;
  padding-right: 30px; }

.link-social {
  font-size: 1.3rem;
  color: #233c5f;
  list-style: none;
  padding-right: 10px;
  padding-top: 4px;
  display: inline-block;
  text-align: center; }

.logo {
  padding-left: 8px; }

.navbar__nav {
  position: fixed;
  right: 90px;
  top: 25px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  border-radius: 5px; }

.responsive-encuentros {
  width: 100%;
  height: 450px; }

.responsive-sesiones {
  width: 100%;
  height: 200px; }

.text__styles {
  text-align: center; }
  .text__styles p {
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.3rem;
    font-style: italic; }
  .text__styles h1 {
    color: #0D1D33;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.3rem;
    margin: 90px 100px; }
  .text__styles h2 {
    color: #0D1D33;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    margin: 10px 0px 20px 0px; }
  .text__styles h3 {
    color: #233c5f;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin: 10px; }
  .text__styles h4 {
    color: #233c5f;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.3rem;
    margin-top: 50px;
    margin-bottom: 50px; }
  .text__styles.text__styles--title {
    background-color: #696864;
    color: #233c5f;
    padding-top: 1px; }
  .text__styles.text__styles--titlenon {
    color: #233c5f;
    padding-top: 5px; }

.registros-image {
  background-image: url("../imagenes/registros.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .registros-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.aqua-image {
  background-image: url("../imagenes/aqua.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .aqua-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.numerologia-image {
  background-image: url("../imagenes/numerologia.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .numerologia-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.limpiezaadn-image {
  background-image: url("../imagenes/limpiezaadn.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .limpiezaadn-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.reiki-image {
  background-image: url("../imagenes/reiki.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .reiki-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.arteterapia-image {
  background-image: url("../imagenes/arteterapia.jpg");
  width: 500px;
  height: 400px;
  margin: 50px 40px; }
  .arteterapia-image:hover {
    color: #a40775;
    transform: scale(1.1); }

.creativ__section {
  margin-top: 10px;
  color: #233c5f;
  width: 100%;
  height: auto; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Open Sans Condensed", sans-serif; }

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

/* Style the submit button */
input[type=submit] {
  background-color: #ddc458;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; }

/* Style the container */
.container__form {
  border-radius: 5px;
  padding: 50px; }

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 8px; }

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 8px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

.contact__map {
  margin-top: 50px;
  margin-left: 60px; }
