*{
	margin:0px;
	padding: 0px;
}

a:hover{
    color: $color-grape;
    text-decoration: none;
}

#back-to-top{
    position: fixed;
    background: $color-indigo;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    border-radius: 50%;
    right: 15px;
    bottom: 10px;
    z-index: 11;
    display:inline;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-inner{
    width: 100%;
    height: 100%;
}

.contact__style{
    width: 100%;
    height: 80px;
    padding-bottom: 0px;
    background-color: $color-yellow;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    min-width: $screen_small;
}
.copyright{
    text-align: center;
    padding-top: 30px;
}


.creativ__section{
    position: absolute;
    margin-left: 500px;
    margin-top: 50px;
    color:$color-indigo;
}

.fixed-top{
    position:fixed;
    top: 0;
    right: 0;
    left:0;
}

#font-extra{
    font-size: $font-size-para;
    font-family: $secondary-font;
    color: white;
}

#footer{
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding: 0px 0 30px 0;
    color: $color-indigo;
    background-color: $color-yellow;
}

.footer-top{
    background: $color-yellow;
    padding: 60px 0 30px 0;
}

.form__inline {
    height: 50px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #ececec;
    color: $color-blue-nigth;

    .form__inline--button {
        padding: 10px 20px;
        border: 1px solid #ddd;
        color: $color-blue-nigth;
    }
}

#header{
    height: 90px;
    padding: 2px 0;
    max-width: $screen_large;
    background: #fff;
    transition: all 0.5s
}

.h__divider{
    margin-top:10px;
    margin-bottom:10px;
    width: 100%;
    border-top: 1px solid $color-yellow;
}

.h__thick{
    position: relative;
    display:block;
    margin: 80px auto;
    width: 6%;
    border-top: 3px solid $color-yellow;
}

.img-responsive{
    width: 100%;
    height: auto;
}

.llave__imag{
    position: relative;
    margin: 80px 0px 80px 0px;
    height: 80px;
    transition: 2s ease-in-out;

    .llave__imag--small{
        $mobile: "only screen and (max-width: #{$screen_small - 1})";
        float: left;
        position: relative;
        width: auto;
    }
}

li {
    font-size: 1.2rem;
    color: $color-indigo;
    list-style: none;
    padding-right: 5px;

    &:hover{
        color: $color-grape;
    }
}

.li-nav{
    padding-top: 8px;
    padding-right: 15px;

    &:hover{
        color: $color-grape;
    }
}

.link-social{
    font-size: 1.3rem;
    color: $color-indigo;
    list-style: none;
    padding-right: 10px;
    padding-top: 4px;
    display: inline-block;
    text-align: center;
}

.logo{
    padding-left: 8px;
}

.navbar__nav{
    position: fixed;
    right: 90px;
    top: 25px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    border-radius: 5px;
}

.responsive-encuentros{
    width: 100%;
    height: 450px;
}

.responsive-sesiones{
    width: 100%;
    height: 200px;
}

.text__styles{
    text-align: center;

    p{
        color: $color-indigo;
        font-family: $main-font;
        font-size: $font-size-middle;
        font-style: italic;
    }
    h1{
        color: $color-blue-nigth;
        font-family: $main-font;
        font-size: $font-size-middle;
        margin: 90px 100px;
    }
    h2{
        color: $color-blue-nigth;
        font-family: $secondary-font;
        font-size: $font-size-para;
        margin:10px 0px 20px 0px;
    }
    h3{
        color: $color-indigo;
        font-family: $secondary-font;
        font-size: $font-size-base;
        margin: 10px;
    }
    h4{
        color: $color-indigo;
        font-family: $main-font;
        font-size: $font-size-middle;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &.text__styles--title {
        background-color: $color-peach;
        color: $color-indigo;
        padding-top: 1px;
    }

    &.text__styles--titlenon {
        color: $color-indigo;
        padding-top: 5px;
    }
}

$sesiones: 'registros', 'aqua', 'numerologia', 'limpiezaadn', 'reiki', 'arteterapia';

@each $sesion in $sesiones {
    .#{$sesion}-image{
    background-image: url('../imagenes/#{$sesion}.jpg');
    width: 500px;
    height: 400px;
    margin: 50px 40px;

    &:hover{
        color: $color-grape;
        transform: scale(1.1)
    }
}}
