.reverdec__imag{
    background-image: url('../imagenes/numerolog.jpg');
    width: 300px;
    height: 300px;
    margin: 30px 80px 30px 5px;
}

.style__rever{
    color: $color-indigo;
    font-family: $main-font;
    font-size: $font-size-middle;
    margin: 50px auto;
}
